body {
    margin: 0;
    padding: 0;
    height: 100%; /* Set body height to full viewport height */
}

.container {
    height: 100%; /* Set container height to 100% of body height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, p {
    max-width: 800px; /* Set max width for content */
    padding: 0 20px; /* Add padding to content */
}

label,
input {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.login-form-div {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 30px;
}

.main-login {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stories {
    width: 100%;
    border-collapse: collapse;
}

.stories th, .stories td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
}

.stories tr:nth-child(even) {
    background-color: #f2f2f2;
}
