body {
    margin: 0;
    padding: 0;
    height: 100%; /* Set body height to full viewport height */
}

.container {
    height: 100%; /* Set container height to 100% of body height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-container {
    height: 100%; /* Set container height to 100% of body height */
    width: 50%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    font-family: 'Edo SZ', sans-serif;
}

h1, p {
    max-width: 800px; /* Set max width for content */
    padding: 0 20px; /* Add padding to content */
}

label,
input {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.login-form-div {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 30px;
}

.main-login {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stories {
    width: 100%;
    border-collapse: collapse;
}

.stories th, .stories td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
}

.stories tr:nth-child(even) {
    background-color: #f2f2f2;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

#profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

#profile h2 {
    color: #666;
    margin: 0;
}

form {
    margin-bottom: 20px;
}

h2 {
    color: #666;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    padding: 5px;
    width: 300px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}

p {
    margin-bottom: 10px;
}