<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Project</title>
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <ul class="nav nav-pills">
            <li class="nav-item">  <a th:href="@{/wishlist/logout}" class="nav-link">Logout</a></li>
        </ul>
    </header>
</div>

<div id="container">
    <h1>Add name to your Project</h1>
    <!--<a href="/wishlist/wishes/">back</a>-->

    <form action="#" th:action="@{/wishlist/wishes/{userid}/createwishlist(userid=${userid})}" method="post" th:object="${wishlistDTO}">

        <div class="mb-3">
            <label  class="form-label">name</label>
            <input type="text" class="form-control" placeholder="name" th:field="*{name}">

        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>
</body>
</html>