<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <title>Testpage</title>
</head>
<body>
<div class="container">
    <h1>Welcome to My Website</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum condimentum ex ac magna volutpat tincidunt. Fusce scelerisque facilisis purus, nec convallis arcu tincidunt at. Sed consectetur neque sed sem feugiat, sit amet congue odio rhoncus. Etiam id ultricies libero, sit amet congue dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque a neque auctor, blandit urna vel, cursus libero. Vestibulum vestibulum cursus diam, id fermentum sem eleifend non. Ut sem sapien, finibus eu elit non, vehicula laoreet enim. Vestibulum ac augue arcu. Nulla et bibendum turpis, eu sollicitudin sapien. Donec vestibulum augue et fermentum vestibulum.</p>
    <p>Nunc ac massa at libero bibendum iaculis. Vivamus a ex leo. Fusce facilisis risus et risus convallis, in eleifend eros rhoncus. Nam vel odio id turpis feugiat eleifend vitae eget lectus. Sed ut semper mauris, nec ultricies arcu. Aenean cursus, nulla id ullamcorper dapibus, augue ipsum facilisis neque, nec efficitur ex tellus ut mauris. Integer ac ipsum in nisl vehicula aliquam. Vestibulum mattis mauris lectus, auctor dapibus tortor ullamcorper id. Nullam tempus, sapien id egestas viverra, mauris nunc faucibus dolor, id iaculis sapien ipsum vel enim. Nam rhoncus risus at sapien cursus feugiat. Praesent laoreet convallis lacus, et feugiat elit venenatis a. Fusce convallis risus augue, in scelerisque sem congue eu. Etiam id nibh nec enim sollicitudin feugiat in vel libero. Aliquam sodales, odio eu fermentum vulputate, nulla mi convallis odio, eget cursus massa lectus nec quam. In venenatis vulputate vestibulum. Integer sodales urna sed vestibulum ullamcorper.</p>
</div>
</body>
</html>