<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f16ddf284a.js" crossorigin="anonymous"></script>
    <title>Story</title>
</head>

<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #75ad50;">
    <div class="container-fluid">
        <a style="color: #ffffff;" class="navbar-brand" href="#"> SmoothManager </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a style="color: #ffffff;" class="nav-link active" aria-current="page" th:href="@{/userProjects/{userid}(userid=${userid})}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #ffffff;" >
                        Create
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">New project</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a style="color: #ffffff;" class="nav-link" href="#">Projects</a>
                </li>
                <li class="nav-item">
                    <a style="color: #ffffff;" class="nav-link" href="#">Teams</a>
                </li>
                <li class="nav-item">
                    <a style="color: #ffffff;" class="nav-link" href="#">Settings</a>
                </li>
                <li class="nav-item">
                    <a style="color: #ffffff;" th:href="@{/}" class="nav-link">Logout</a>
                </li>


            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</nav>

<body>

<div class="left-div">
    <div class="sidebar">
        <div class="sidebar-overview">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" alt="Project Logo">
            <h3 th:text="${projectname}"></h3>
        </div>
        <ul>
            <li><a th:href="@{/userProjects/{userid}(userid=${userid})}">Home</a></li>
        </ul>
        <h4>--- Boards ---</h4>
        <br>
        <ul>
            <tr th:each="boards: ${boards}">
                <li><a th:href="@{/storylist/{boardid}(boardid=${boards.boardid})}">
                    <td th:text="${boards.boardname}"></td>
                    <br>
                </a>
            </tr>
        </ul>
    </div>
</div>


<div class="right-div">
    <div id="container">
        <div>
            <button data-modal-open-target="update-modal" data-is-modal id="modal-button">Create a new Task</button>
            <dialog id="update-modal">
                <form action="#" th:action="@{/story/createtask/{storyid}(storyid=${storyid})}" method="post" th:object="${task}">
                    <input type="hidden" th:field="*{storyid}"/>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Task Name</label>
                        <input type="text" class="form-control" th:field="*{taskname}">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Task Description</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" th:field="*{taskdescription}">
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Story points</label>
                        <input type="text" class="form-control" id="exampleFormControlInput2" th:field="*{storypoints}">
                    </div>
                    <button data-modal-close-target="update-modal" id="modal-close" formmethod="dialog" type="submit">close</button>
                    <button type="submit">Submit</button>
                </form>
            </dialog>
        </div>

        <div>
            <button data-modal-open-target="update-modal2" data-is-modal id="modal-button2">Add users to Story</button>
            <dialog id="update-modal2">
                <form th:action="@{/story/{storyid}/addstoryuser(storyid=${storyid})}" method="post">
                    <div class="mb-3">
                        <label class="form-label">Select users to add to the story</label>
                        <div th:each="user : ${users}">
                            <input type="checkbox" name="userIds" th:value="${user.getUserid()}" th:text="${user.getUserName()}"/>
                        </div>
                    </div>
                    <button data-modal-close-target="update-modal" id="modal-close2" formmethod="dialog" type="submit">close</button>
                    <button type="submit" class="btn btn-primary">Add User</button>
                </form>
                <div th:if="${errorMessage}">
                    <p th:text="errorMessage"></p>
                </div>
            </dialog>
        </div>

        <h1 th:text="${story.storyname}"></h1>
        <p th:text="${story.storydescription}"></p>
        <p th:text="${story.acceptcriteria}"></p>

        <h4>Assigned to this story: </h4>
        <div th:if="${userNames.isEmpty()}">
            <h6>No users has been assigned to story yes...</h6>
        </div>
        <div th:each="userNames: ${userNames}">
            <p th:text="${userNames}"></p>
        </div>

        <div th:if="${tasks.isEmpty()}">
            <h6>No tasks yet... feel free to add one</h6>
        </div>
        <table>
            <tr th:each="tasks: ${tasks}">
                <form method="post" th:action="@{/toggleTask/{storyid}/{taskId}(storyid=${story.storyid}, taskId=${tasks.taskid})}">
                    <td>
                        <input type="checkbox" th:checked="${tasks.isFinished}" th:name="finished" onchange="this.form.submit()"/>
                    </td>
                </form>
                <td th:text="${tasks.taskname}"></td>
                <td th:text="${tasks.taskdescription}"></td>
                <td th:text="${tasks.storypoints}"></td>
                <td>
                    <a th:href="@{/storyid/slet/{storyid}/{taskid}(storyid=${story.storyid}, taskid=${tasks.taskid})}" onclick="return confirm('Are you sure?')">Delete<i class="fa-sharp fa-solid fa-trash"></i></a>
                </td>
                <td>
                    <a th:href="@{/task/update/{taskid}(taskid=${tasks.taskid})}">Update<i class="fa-sharp fa-solid fa-pen"></i></a>
                </td>
            </tr>
            <form method="post" th:action="@{/markStoryAsFinished/{boardid}/{storyId}(boardid=${story.boardid}, storyId=${story.storyid})}">
                <button type="submit" onclick="return confirm('Are you sure?')">Mark Story as Finished</button>
            </form>
        </table>


        <h2>Total Storypoints:</h2>
        <h4 th:text="${totalStoryPoints}"></h4>
    </div>
</div>

<script>
    const dialog = document.getElementById("update-modal")
    document.getElementById("modal-button").addEventListener("click", showmodal);
    function showmodal(){
        dialog.showModal()
    }
    document.getElementById("modal-close").addEventListener("click", closemodal);
    function closemodal(){
        dialog.close()
    }

    const dialog2 = document.getElementById("update-modal2")
    document.getElementById("modal-button2").addEventListener("click", showmodal2);
    function showmodal2(){
        dialog2.showModal()
    }
    document.getElementById("modal-close2").addEventListener("click", closemodal2);
    function closemodal2(){
        dialog2.close()
    }

    const dialog3 = document.getElementById("update-modal3")
    document.getElementById("modal-button3").addEventListener("click", showmodal3);
    function showmodal3(){
        dialog3.showModal()
    }
    document.getElementById("modal-close3").addEventListener("click", closemodal3);
    function closemodal3(){
        dialog3.close()
    }
</script>

</body>
</html>