<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Task(s)</title>
</head>
<body>
 <div id="container">

   <h1>Update Task(s)</h1>
   <form action="#" th:action="@{/update/{id}(id=${superhero.heroId})}" method="post" th:object="${superhero}">
     <label>Task Name:</label>
     <input type="text" th:field="*{heroName}"/><br/>

     <label>Task Description:</label>
     <input type="text" th:field="*{realName}" /><br/>

     <label>Story Points:</label>
     <input type="text" th:field="*{creationYear}" /><br/>

     <button type="submit">Update</button>
     <a href="/superheroes">Go back</a>
   </form>

 </div>
</body>
</html>